@import "tailwindcss";

@theme {
  --color-brand: #003f63; /* Danske primary blue */
  --color-brand-dark: #002346;
  --color-brand-light: #5c748b;
  --color-brand-muted: #ebebe6; /* light bg */

  --font-sans:
    "Satoshi", TT Commons, Inter, ui-sans-serif, system-ui, sans-serif;
  --radius-md: 0.5rem;
  --radius-lg: 0.75rem;
}
